<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
    <title></title>
</head>

<body>
    <nav>
        <div class="logo">Online Lab</div>
        <a href="/login-sign-page"><button class="login_sign_btn">Login</button></a>
    </nav>
<div class="wrapper">
    <div class="block_one">
        <div class="text_one">BUILD BUILD BUILD
            <div class="sub_text_one">build build build</div>
        </div>
        <img src="images/" class="img1">
    </div>


    <div class="block_two">
    	<div class="text_two">NOW MAKE YOUR LABS MORE PRODUCTIVE AND FRUITFUL</div>
    	<div class="sub_text_two">Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </div>
    </div>


    <div class="block_three">
    </div>
</div>
    <footer>
    	FOOTER
    </footer>
</body>

</html>
