<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
    <title>login</title>
</head>

<body>

<div class="login_text">Login to your Account</div>
<div class="create_acc_text">Don't have an Account? <a href="#">Create Now</div>

  <div class="tab_btns">
    <button class="student_tab_btn">Student</button>
    <button clas="teacher_tab_btn">Teacher</button>
  </div>
    <form action="">

           <!--  <button type="button">LOGIN</button>
            <button type="button">SIGNUP</button>

            <input type="text" placeholder="College name" size="35" id="" required>
            <br>

            <input type="text" placeholder="enter your name" size="35" id="" required>

            <br>
            <select id="" required>
                <option value="">B-Tech</option>
                <option value="">B-farm</option>
                <option value="">BSC</option>
                <option value="">other</option>
            </select>
            <br>
            <br>
            <select id="" required>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>
            <br>
            <br>
            <input type="text" placeholder="Section" size="35" id="">
            <br>
            <br>
            <input type="number" placeholder="roll no" size="35" id="" required>
            <br>
            <br>
            <input type="text" placeholder="student id" size="35" id="" required>
            <br>
            <br>
            <input type="password" placeholder="password" id="" size="35" required>
            <br>
            <br>
            <button type="submit">SUBMIT</button> -->
    </form>
</body>

</html>
